html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  background-image: url("images/bg-pattern-desktop.svg");
  font-family: "Josefin Sans", sans-serif;
}

header {
  height: 67px;
  display: flex;
  justify-content: flex-start;

  align-items: center;
  padding: 20px 10px;
}

.landing-text h1 {
  text-transform: uppercase;
  color: hsl(0, 6%, 24%);
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  letter-spacing: 10px;
}

#light-text {
  color: hsl(0, 36%, 70%);
  font-weight: 300;
}

.landing-text p {
  color: hsl(0, 36%, 70%);
  text-align: center;
  padding: 0 15px;
}
