html {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("images/bg-pattern-desktop.svg");
  font-family: "Josefin Sans", sans-serif;
}

header {
  height: 67px;
  display: flex;
  justify-content: flex-start;

  align-items: center;
  padding: 20px 10px;
}
