/* PHONES */
@media only screen and (min-width: 768px) {
  body {
    background-image: url("./images/bg-pattern-desktop.svg");
  }

  .landing-text h1 {
    font-size: 72px;
  }

  .landing-text p {
    margin: 0 80px;
    font-size: 22px;
  }

  input {
    background-color: #fefefe;
  }
}

/* TABLETS AND UP */
@media only screen and (min-width: 1024px) {
  body {
    background-image: url("./images/bg-pattern-desktop.svg");
  }

  header {
    display: none;
  }

  .mobile-hero-image {
    display: none;
  }

  .desktop-hero-image {
    display: block;
    height: 100vh;
  }

  main {
    display: flex;
    flex-direction: row-reverse;
  }

  .information {
    margin: 0 80px;
  }

  .information img {
    display: block;
    margin: 35px 0;
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .landing-text h1 {
    font-size: 50px;
    align-items: flex-start;
  }

  .landing-text p {
    margin: 0 45px;
    font-size: 22px;
    text-align: start;
    margin: 0;
    padding: 0;
  }

  form {
    justify-content: flex-start;
  }

  input {
    background-color: #fefefe;
  }

  small {
    margin: 0;
  }

  footer {
    text-align: start;
    position: fixed;
    bottom: 0;
  }
}
